@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: "OpenSanse";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
	font-display: swap;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: "OpenSanse";
	font-weight: 600;
	font-style: normal;
	src: url("/fonts/OpenSans-SemiBold.ttf") format("truetype");
	font-display: swap;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: "OpenSanse";
	font-weight: 700;
	font-style: normal;
	src: url("/fonts/OpenSans-Bold.ttf") format("truetype");
	font-display: swap;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased ;
}

@font-face {
	font-family: "pirulen";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/pirulen.ttf") format("truetype");
	font-display: swap;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased ;
}

* {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}


html, body {
	@apply h-full;
}

  body {
	font-family: 'OpenSanse', sans-serif;
	@apply bg-dark text-light font-primary;
  }

  #__next {
    @apply flex flex-col justify-between min-h-full
  }

  main {
    @apply mb-auto
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  small,
  ul,
  li,
  a
   {
	font-family: 'OpenSanse', sans-serif;
    @apply text-base
  }

  a {
    @apply inline-block
  }

[multiple],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
select,
textarea {
    @apply appearance-none outline-none bg-transparent py-3 xl:py-4 3xl:py-5 border-0 border-b border-orange-500 text-light
}