@tailwind base;
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Firefox Styling Scrollbar */
	scrollbar-width: thin;
	scrollbar-color: var(--secondary) var(--primary);
}

/* Styling Scrollbar Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 6px;
	padding: 0;
}

*::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
	border-radius: 14px;
	border: 5px solid transparent
}
@tailwind components;
@tailwind utilities;

:root {
	--primary: #1D0937;
	--secondary: #371A60;
 }


@font-face {
	font-family: "OpenSanse";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
	font-display: swap;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: "OpenSanse";
	font-weight: 600;
	font-style: normal;
	src: url("/fonts/OpenSans-SemiBold.ttf") format("truetype");
	font-display: swap;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: "OpenSanse";
	font-weight: 700;
	font-style: normal;
	src: url("/fonts/OpenSans-Bold.ttf") format("truetype");
	font-display: swap;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased ;
}

@font-face {
	font-family: "pirulen";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/pirulen.ttf") format("truetype");
	font-display: swap;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased ;
}

html, body {
	@apply h-full;
}

  body {
	font-family: 'OpenSanse', sans-serif;
	@apply bg-dark text-light font-primary;
  }

  #__next {
    @apply flex flex-col justify-between min-h-full
  }

  main {
    @apply mb-auto
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  small,
  ul,
  li,
  a
   {
	font-family: 'OpenSanse', sans-serif;
    @apply text-base
  }

  a {
    @apply inline-block
  }

[multiple],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
select,
textarea {
    @apply appearance-none outline-none bg-transparent py-3 xl:py-4 3xl:py-5 border-0 border-b border-orange-500 text-light text-base;
}

/* Brands Slider */
#brands-slider img {
	filter: grayscale(100%);
}
#brands-slider > div {
	animation: sliderAnimation 20s linear infinite;
}

@media only screen and (max-width: 768px) {
	#brands-slider > div {
		animation: sliderAnimation 5s linear infinite;
	}
}
@keyframes sliderAnimation {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

/* Styling Swiper */
.works-swiper-next-button:disabled,
.works-swiper-prev-button:disabled,
.team-swiper-next-button:disabled,
.team-swiper-prev-button:disabled {
	@apply opacity-50 select-none pointer-events-none;
}

.swiper-pagination {
	@apply !static mt-8 md:hidden
}
.swiper-pagination-bullet {
	@apply !bg-orange-500 !w-3 !h-3
}

.works-swiper {
	overflow: visible !important;
}

/* Card Triangle Background */
.triangle {
	background: rgb(251,238,255);
	background: linear-gradient(172deg, rgba(251,238,255,1) 18%, rgba(255,253,255,1) 57%, rgba(255,255,255,1) 100%);
	-webkit-clip-path: polygon(100% 0, 0 0, 0 50%);
	clip-path: polygon(100% 0, 0 0, 0 50%);
}

input[type=checkbox] + label {
	@apply after:content-['✓'] after:text-light after:absolute after:text-lg after:left-1.5 after:opacity-0 after:ease-in-out after:duration-100
}

input[type=checkbox]:checked + label {
	@apply after:opacity-100
}